*{
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body{
  background-color: #E7E7E7;
}
#articles a:hover{
  background: grey;
  transition: .5s;
}
a{
  color: black;
}
nav {
  height: 100px;
  background-color: white;
}
nav a, nav .brand-logo{
  color: #222222;
}
nav .brand-logo{
  font-size: 28px;
  width: 71%;
  margin-left: 25px;
  z-index: 1;
}
.icons{
  margin-left: 47px;
}

.kokayi-fist{
  background-image: url('./media/kokayi-fist.png');
  height: 200px;
  background-size: contain;
  position: relative;
}

.card-content{
  background-color: #E7E7E7;
  padding: 0 !important;
}

.col{
  margin-top: 20%;
}

.home-red-box{
  background: #E03820;
  color: white;
  padding: 8px;
  font-size: 16px;
  width: 54%;
  margin-left: 15px !important;
}

.card{
  box-shadow: none;
}

.card .card-action{
  border-top: 3px solid #E03820;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.FlipClock{
  width: 80%;
  height: 100%;
  margin-top: 25px;
  padding-right: 20px;
}

.top-right-text{
  position: absolute;
  top: 135px;
  left: 15px;
  background: #212121;
  color: white;
  padding: 5px;
  transition: .5s;
}
.top-right-text:hover{
    background: #E03820;
    transition: .5s;
}

.card a{
  color: white !important;
  background: #E03820;
  font-weight: bolder;
  padding: 5px;
}

h5{
  margin-bottom: 25px;
}

.quick-links{
  transition: .5s;
  display: grid;
      grid-template-columns: auto auto;
}

.quick-links a{
  margin-bottom: 10px;
}
.quick-links a:hover{
  background: #a41f0c;
  transition: .5s;
}

.kokayi-profile{
  background: url('./media/kokayi-profile.png');
  width: 70%;
  height: 215px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-7deg)
}

#bio{
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20% 5%;
  margin: 13% 0;
}


.food-stamp{
  background-image: url('./media/food-stamp.jpg');
  height: 298px;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
}

.jed-whittaker{
  background-image: url('./media/jed-whittaker.jpg');
  height: 298px;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
}
.sex-workers{
  background-image: url('./media/sex-workers.jpg');
  height: 298px;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
}
.dark-side{
  background-image: url('./media/dark-side.jpg');
  height: 298px;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
}
.high-rape{
  background-image: url('./media/high-rape.jpg');
  height: 298px;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
}
.lorenzo-wilson{
  background-image: url('./media/lorenzo-wilson.jpg');
  height: 298px;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
}

.ashland{
  background-image: url('./media/ashland.jpg');
  height: 298px;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
}
.fbi{
  background-image: url('./media/fbi.jpg');
  height: 298px;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
}
.diverse{
  background-image: url('./media/diverse.jpg');
  height: 298px;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
}
.voices{
  background-image: url('./media/voices.jpg');
  height: 299px;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
}

.sidenav{
  width: 185px;
}

.fixed-button{
  position: fixed;
  bottom: 0;
}

.FlipClock{
  margin-left: 15px !important;
}
@media only screen and (min-width: 0) {
  .tour{
    margin-top: 25px;
    text-align: left;
    margin-left: 14px;
    font-size: 5vw;
    font-weight: 900;
  }
}
@media only screen and (min-width: 360px) {
  .food-stamp,.jed-whittaker, .sex-workers, .dark-side, .high-rape, .lorenzo-wilson, .ashland, .fbi, .diverse, .voices{
    height: 337px;
  }
}
@media only screen and (min-width: 375px) {
  .food-stamp,.jed-whittaker, .sex-workers, .dark-side, .high-rape, .lorenzo-wilson, .ashland, .fbi, .diverse, .voices{
    height: 354px;
  }
}

@media only screen and (min-width: 411px) {
  #home{
    height: 100vh;
  }
  .col{
    margin-top: 45%;
  }
  .kokayi-profile{
    margin-bottom: 50px;
  }
  .food-stamp,.jed-whittaker, .sex-workers, .dark-side, .high-rape, .lorenzo-wilson, .ashland, .fbi, .diverse, .voices{
    height: 390px;
  }
}

@media only screen and (min-width: 768px) {
  .tour{
    margin-left: 50px;
  }
  .row .col.m6 {
    width: 100%;
  }
  nav .brand-logo {
    line-height: 30px;
    margin-top: 10px;
    padding-left: 20%;
  }
  a.sidenav-trigger i {
    font-size: 60px;
    margin-top: 15px;
}
.col {
    margin-top: 20%;
}
  .kokayi-fist {
    height: 498px;
  }
  .home-red-box{
    font-size: 30px;
    margin-left: 50px !important;
  }
  .FlipClock{
    justify-content: flex-start;
  }
  .top-right-text {
    top: 150px;
    font-size: 25px;
    padding: 10px;
}
.FlipClock {
    margin-left: 50px !important;
}
.top-right-text {
    left: 50px;
}
.col {
    margin-top: 10%;
}
.card a{
  padding: 12px;
  font-size: 20px;
}
h5{
  font-size:2.64rem;
}
card .card-action {
    padding: 30px 24px
}
.kokayi-profile {
    height: 300px;
    width: 200%;
}
#bio{
  display: flex;
  flex-direction: row;
}
#bio p{
  font-size: 20px;
}
small {
    font-size: 125%;
}
.grid{
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 25px;
}
.food-stamp,.jed-whittaker, .sex-workers, .dark-side, .high-rape, .lorenzo-wilson, .ashland, .fbi, .diverse, .voices{
  height: 325px;
}
}

@media only screen and (min-width: 1024px) {
  nav .brand-logo{
    width: 50%;
  }
  nav ul a {
    color: black;
    font-size: 25px;
  }
  nav .brand-logo {
    padding-left: 37%;
}
nav ul {
  /* padding-right: 35%; */
  padding-top: 71px;
}
nav .brand-logo {
  padding-left: 29%;
line-height: 239%;
font-size: 43px;
}
nav {
  height: 200px;
}
.icons{
  margin-left: 60px;
}
.icons {
    margin-left: 105px;
    padding-top: 25px;
}
.col{
  margin-top: 20%;
}
.kokayi-fist {
    height: 615px;
}
.row .col.m6 {
    padding: 0 5%;
}
.card .card-action {
    padding: 50px 24px;
}
.home-red-box {
    font-size: 35px;
  }
  #bio p {
    font-size: 25px;
}
.food-stamp,.jed-whittaker, .sex-workers, .dark-side, .high-rape, .lorenzo-wilson, .ashland, .fbi, .diverse, .voices{
  height: 414px;
}
}
@media only screen and (min-width: 1443px) {
  nav ul a {
    color: black;
    font-size: 25px;
  }
  nav ul a:hover {
    color: #E03820;
    font-size: 25px;
  }
  nav i:hover {
    color: #E03820;
  }
  nav .brand-logo {
    padding-left: 37%;
}
nav ul {
  /* padding-right: 35%; */
  padding-top: 20px;
}
nav .brand-logo {
  padding-left: 0;
line-height: 68%;
/* display: flex; */
    /* width: 100%; */
    /* justify-content: space-between; */
    /* flex-direction: column;
    align-items: center; */
}
nav {
  height: 100px;
}

.icons {
    margin-left: 0;
    padding-top: 10px;
    margin-right: 10%;
}
.col{
  margin-top: 5%;
}
.kokayi-fist {
    height: 864px;
    margin-top: -20%;
}
.grid{
  grid-template-columns: 30% 30% 30%;
}
.food-stamp,.jed-whittaker, .sex-workers, .dark-side, .high-rape, .lorenzo-wilson, .ashland, .fbi, .diverse, .voices{
  height: 394px;
}
.vid-grid{
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 25px;
}
.FlipClock {
    width: 25% !important;
}
element.style {
    margin: 10% 0px;
}
.top-right-text{
  margin-top: 45px;
}
}

@media only screen and (min-width:   2914px) {
  .kokayi-fist {
      height: 1744px;
  }
}
